!!!
%html
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %title Login
    = javascript_include_tag :defaults
    = stylesheet_link_tag "joemetric"
    /[if IE7]
      = stylesheet_link_tag "ie7"
  %body
    .main
      .wrapper
        = render :partial => "/layouts/admin/header"
        .content
          .form
            %h3.heads Administration Log In
            .rounded
              .top
              .form_content
                %h4 Please enter your Login and Password
                - form_for :admin_session, :url => admin_admin_session_path do |form|
                  = form.error_messages
                  = form.label :login
                  = form.text_field :login
                  = form.label :password
                  = form.password_field :password
                  %br
                  %br
                  = form.submit "LOGIN", :class => "button button_bl"
                  .cls
              .bottom
                  
        .footer