.menu1
  %ul 
    %li{:class => "item"}= link_to 'Dashboard', ''
    %li{:class => "item"}= link_to 'User Administration', ''
    %li{:class => "selected"}= link_to 'Survey Administration', ''
    %li{:class => "item"}= link_to 'Pricing Administration', ''
    %li{:class => "item"}= link_to 'Administration', ''