%h1 Manage Account

- form_for :user, :url => user_path(object), :html => { :method => :put } do |form|
  
  = form.error_messages
    
  %p#link_change_password
    = link_to_function "Change Password" do |page|
      - page["link_change_password"].visual_effect :fade, :duration => 0.3
      - page["change_password"].visual_effect :appear, :duration => 0.3
      - page["submit"].visual_effect :appear, :duration => 0.3
      - page["user_password_change"].value = 1
  
  %fieldset#change_password{ :style => "display:none" }
    = form.hidden_field :password_change, :value => 0  
    %p
      = form.label :old_password
      = form.password_field :old_password
  
    %p
      = form.label :new_password
      = form.password_field :password
    
    %p
      = form.label :password_confirmation
      = form.password_field :password_confirmation
      
    
  .submit#submit{ :style => "display:none" }
    = form.submit "Update"