.form
  %h3.heads Reset Password
  .rounded
    .top
    .form_content
      = error_messages_for :user
      - form_for :user, :url => user_path(object), :html => { :method => :put } do |form|
        = form.hidden_field :security_token, :value => params[:key]
        %h4 Enter your new password information
        = form.label :password
        = form.password_field :password
        = form.label :password_confirmation
        = form.password_field :password_confirmation
        .center
          = form.submit "Change password", :class => "button button_la"
        .cls
    .bottom