%h1 Reset your password

- form_for :user, :url => user_path(object), :html => { :method => :put } do |form|
  = form.error_messages
  = form.hidden_field :security_token, :value => params[:key]
  %p
    = form.label :password
    = form.password_field :password
    
  %p
    = form.label :password_confirmation
    = form.password_field :password_confirmation
  
  .submit
    = form.submit "Change my password"
    or
    = link_to "Cancel", login_path
    
    