.m_content
  .form
    %h3.heads Non-profit Organization Administration
    %hr
      - form_for :organization, @organization, :url => editOrganization_admin_charityorgs_path, :html => {:method => :post, :id => "edit_charity_orgs_form", :multipart => true} do |form|
        %table#table{ :cellpadding => 3 , :cellspacing => 0, :border => 0, :width => '100%' }
          %thead
            %tr
              %th{ :width => '100%', :colspan => 2, :valign => 'top', :align => 'left' }
                Edit organization
            
            %tr
              %th{ :width => '100%', :colspan => 2, :valign => 'top', :align => 'left' }
                %span{:id => 'charityorgs_errors'}
                  = error_messages_for :organization
                
            %tr
              %th{ :width => '30%', :valign => 'top', :align => 'left' }
                %label Name:
              %th{ :width => '70%', :valign => 'top', :align => 'left' }
                = form.text_field :name
                = hidden_field_tag 'id', @organization.id
                = form.hidden_field :id, :value => @organization.id
                
            %tr
              %th{ :width => '30%', :valign => 'top', :align => 'left' }
                %label Address 1:
              %th{ :width => '70%', :valign => 'top', :align => 'left' }
                = form.text_field :address1
                
            %tr
              %th{ :width => '30%', :valign => 'top', :align => 'left' }
                %label City:
              %th{ :width => '70%', :valign => 'top', :align => 'left' }
                = form.text_field :city1
            
            %tr
              %th{ :width => '30%', :valign => 'top', :align => 'left' }
                %label State:
              %th{ :width => '70%', :valign => 'top', :align => 'left' }
                = form.select :state1, US_STATES.collect {|p| [ p[0], p[1] ] }, { :include_blank => 'Select State' }, :style => "width:263px;padding:5px 0 5px 5px"
                =# form.text_field :state1
                
            %tr
              %th{ :width => '30%', :valign => 'top', :align => 'left' }
                %label Zip Code:
              %th{ :width => '70%', :valign => 'top', :align => 'left' }
                = form.text_field :zipcode1
                
            %tr
              %th{ :width => '30%', :valign => 'top', :align => 'left' }
                %label Address 2:
              %th{ :width => '70%', :valign => 'top', :align => 'left' }
                = form.text_field :address2
                
            %tr
              %th{ :width => '30%', :valign => 'top', :align => 'left' }
                %label City:
              %th{ :width => '70%', :valign => 'top', :align => 'left' }
                = form.text_field :city2
                
            %tr
              %th{ :width => '30%', :valign => 'top', :align => 'left' }
                %label State:
              %th{ :width => '70%', :valign => 'top', :align => 'left' }
                = form.select :state2, US_STATES.collect {|p| [ p[0], p[1] ] }, { :include_blank => 'Select State' }, :style => "width:263px;padding:5px 0 5px 5px"
                =# form.text_field :state2
                
            %tr
              %th{ :width => '30%', :valign => 'top', :align => 'left' }
                %label Zip Code:
              %th{ :width => '70%', :valign => 'top', :align => 'left' }
                = form.text_field :zipcode2
                
            %tr
              %th{ :width => '30%', :valign => 'top', :align => 'left' }
                %label Phone:
              %th{ :width => '70%', :valign => 'top', :align => 'left' }
                = form.text_field :phone
                
            %tr
              %th{ :width => '30%', :valign => 'top', :align => 'left' }
                %label Email:
              %th{ :width => '70%', :valign => 'top', :align => 'left' }
                = form.text_field :email
                
            %tr
              %th{ :width => '30%', :valign => 'top', :align => 'left' }
                %label Tax Status:
              %th{ :width => '70%', :valign => 'top', :align => 'left' }
                = form.text_field :tax_status
                
            %tr
              %th{ :width => '30%', :valign => 'top', :align => 'left' }
                %label Tax ID #:
              %th{ :width => '70%', :valign => 'top', :align => 'left' }
                = form.text_field :tax_id
                
            %tr
              %th{ :width => '30%', :valign => 'top', :align => 'left' }
                %label Contact Name:
              %th{ :width => '70%', :valign => 'top', :align => 'left' }
                = form.text_field :contact_name
                
            %tr
              %th{ :width => '30%', :valign => 'top', :align => 'left' }
                %label Contact Phone:
              %th{ :width => '70%', :valign => 'top', :align => 'left' }
                = form.text_field :contact_phone
                
            %tr
              %th{ :width => '30%', :valign => 'top', :align => 'left' }
                %label Website:
              %th{ :width => '70%', :valign => 'top', :align => 'left' }
                = form.text_field :website
                
            %tr
              %th{ :width => '30%', :valign => 'top', :align => 'left' }
                %label Description:
              %th{ :width => '70%', :valign => 'top', :align => 'left' }
                = form.text_area :description, :rows => 3, :cols => 30 
                
            %tr
              %th{ :width => '30%', :valign => 'top', :align => 'left' }
                %label Notes:
              %th{ :width => '70%', :valign => 'top', :align => 'left' }
                = form.text_area :notes, :rows => 3, :cols => 30
                
            %tr
              %th{ :width => '30%', :valign => 'top', :align => 'left' }
                %label Logo:
              %th{ :width => '70%', :valign => 'top', :align => 'left' }
                %span{ :style => "float:left;margin:0 5px 0 0;"}
                  = image_tag(@organization.logo.url(:small), :border => 0)
                %span#changeLogo{ :style => "float:left;margin:0 5px;"}
                  %br
                  %br
                  %br
                  = link_to_function "Change", "showUploadLogo()", :style => "color: #0000FF;"
                %span#cancelLogo{ :style => "display:none;float:left;margin:0 5px;"}
                  %br
                  %br
                  %br    
                  = link_to_function "Cancel", "cancelUploadLogo()", :style => "color: #0000FF;"
                %br
                %br
                %br
                %br  
                %span#uploadLogo{ :style => "display:none;margin:0 5px 0 0;"}
                  = form.file_field :logo
            
            %tr
              %th{ :width => '30%', :valign => 'top', :align => 'left' }
                %label Attach File(s):
              %th{ :width => '70%', :valign => 'top', :align => 'left' }
                %iframe{:id => 'attach_files', :name => 'attach_files', :src => attachFilesEdit_admin_charityorgs_path(:id => @organization.id), :frameborder => 0, :style => 'width:350px;height:28px;', :scrolling => 'off'}
                  You don't support iframes. No preview for you.
              
            %tr
              %th{ :width => '100%', :align => 'center', :colspan => 2 }
                %span
                  = submit_tag 'Update Organization', :class => 'but_co', :id => 'update_organization'
                %span
                  or  
                  = link_to 'Cancel', admin_charityorgs_path, :confirm => 'Are You sure ?', :style => "color: #0000FF;"