%p{:class => 'cntrls cntrls_new'}
  - fields_for "survey[geographic_locations_attributes][]", restriction do |form|
    - restriction.id = random_number if restriction.id.nil?
    = form.hidden_field :type, :value => "GeographicLocation"
    = form.hidden_field :value
  %div{:id => "savedArea#{restriction.id}"}
  %iframe{:id => "googleMaps#{restriction.id}", :name => "googleMaps#{restriction.id}", :src => "http://#{HOST}/surveys/gMaps?rand_id=#{restriction.id}", :frameborder => 0, :style => 'width:340px;height:450px;', :scrolling => 'off'}