%p
  - fields_for "survey[questions_attributes][]", question do |form|
    %label 
      Multiple Choice 
    %small
      Please insert options in comma separated. Ex: Green, Yellow, Blue
    = form.hidden_field :question_type_id, :value => question.question_type_id
    = form.label :name, "Question"
    = form.text_field :name
    
    = form.label :description
    = form.text_field :description
    
    = form.label :options
    = form.text_field :options
    - if defined?(question_id) && question_id
      = form.hidden_field :id, :value => question_id
    
