%table{:cellpadding => 0, :cellspacing => 0, :border => 0, :id => 'table', :class => 'sortable'}
  %thead
    %tr
      %th
        %h3= @filter_by
      - if @segment_by == 'Age'
        - User.age_groups.each do |group|
          %th
            %h3= group
      - else
        - @segments.keys.sort.each do |s|
          %th
            %h3= @segments.is_a?(Hash) ? @segments[s] : s
  %tbody
    - @filters.elements.each_with_index do |f, fi|
      %tr
        %td
          - filter_value = @filters.is_a?(Hash) ? f : fi
          = @filters.is_a?(Hash) ? @filters[f] : f
        - @segments.elements.each_with_index do |s, si|
          - segment_value = @segments.is_a?(Hash) ? s : si
          %td
            = @results.count {|u| u.send(@filter_column) == filter_value && u.send(@segment_column) == segment_value}       