= form.label :name
= form.text_field :name
= form.label :end_at
= form.date_select :end_at, :order => [:month, :day, :year], :start_year => Time.now.year
= form.label :responses
= form.text_field :responses
