.survey_details
  .std_sur
    %h4
      = package.name
      Survey
    Includes:
    %br
    = package.total_responses
    responses
    %br
    %b
      - package.try(:questions_info).each do |q|
        %i 
          = q.skip_info
          %br
    %br
    Base Cost
    = package.base_cost.us_dollar
  .sur_details{:id => 'pricing_details'}
  .total
    %br
    .total_bar
      %strong
        Total
        %em{:id => 'total_amount'} 
          = package.base_cost.us_dollar
      %b &nbsp;&nbsp;
    .loader
      = image_tag('loader.gif', :alt => 'Loading...', :style => 'display:none;', :id => 'loader')
    .cls
.cls