.survey_details
  .std_sur
    %h4
      = package.name
      Survey
    Includes:
    %br
    = package.total_responses
    responses
    %br
    %b
      - package.try(:questions_info).each do |q|
        %i 
          = q.skip_info
          %br
    %br
    Starting at
    = package.base_cost.us_dollar
  .sur_details
    - total_price = 0
    - package.try(:pricing_info).each do |q|
      %p
        %b
          %i 
            = q.name.plural_form(1, 'Additional ')
        %br
        = package.total_responses
        responses
        %p 
          = q.normal_price.us_dollar
          per response
        %hr{:size => 1, :width => 105, :align => 'left'}
        %strong 
          - total_price += q.normal_price * package.total_responses
          = (q.normal_price * package.total_responses).us_dollar
  .total
    %br
    %strong
      Total
      %em{:id => 'total_amount'} 
        = total_price.us_dollar
    %b &nbsp;&nbsp;
.cls