%tr
  %td= progress_survey.name
  %td= progress_survey.published? ? progress_survey.published_at.strftime("%b/%d/%Y") : "Not Yet"
  %td= "#{progress_survey.replies.size} of #{progress_survey.responses}"
  %td= progress_survey.publish_status
