= render :partial => "/layouts/menu"
.main_content
  = render :partial => "/surveys/preview_tabs"
  .form
    - form_for @survey do |form|
      %h3.heads Edit a Survey
      = form.error_messages
      .quick_select{ :style => "margin-top: -58px" }
        Quick Create - Copy
        %br
        = select_tag("quick_select", "<option>No Selection</option>", :class => "selected")
      
      = render :partial => "/surveys/form_general", :locals => { :form => form, :survey => @survey }
      
      .rounded
        .top
        .form_content1
          %h4 Questions
          = render :partial => "/surveys/form_questions", :locals => { :form => form, :survey => @survey }
        .bottom
      
      .rounded
        .top
        .form_content1
          %h4 Survey Distribution
          = render :partial => "/surveys/form_distribution", :locals => { :form => form, :survey => @survey }
        .bottom
      
      = link_to_function "Activate", :class => "button button_bl" do |page|
        - page << "call_activate_form('#{@survey.id}');"
      
      = form.submit "Update", :class => "button button_gr"
