= render :partial => "/layouts/menu"
.main_content
  = render :partial => "/surveys/preview_tabs"
  .form
    - form_for @survey, :html => {:id => 'survey_form'}  do |form|
      %h3.heads Edit a Survey
      = form.error_messages

      = render :partial => "/surveys/form_general", :locals => { :form => form, :survey => @survey }
      = form.hidden_field :id
      .rounded
        .top
        .form_content1
          %h4 Questions
          = render :partial => "/surveys/form_questions", :locals => { :form => form, :survey => @survey }
        .bottom
      
      .rounded
        .top
        .form_content1
          %h4 Survey Distribution
          = render :partial => "/surveys/form_distribution", :locals => { :form => form, :survey => @survey }
        .bottom
      
      = link_to_function "Activate", :class => "button button_bl" do |page|
        - page << "call_activate_form('#{@survey.id}');"
      
      = form.submit "Update", :class => "button button_gr"

= render :partial => 'pricing_details', :locals => { :package => @survey.package}

= javascript_tag('updatePricing();')
