%h1 Create Survey

- form_for @survey, :url => surveys_path do |form|
  = form.error_messages
  
  .field
    = form.label :name
    = form.text_field :name
    %p.note 
      %span Example
      iPod Feature Study for Apple
  .field
    = form.label :end_at
    = form.date_select :end_at, :order => [ :month, :day, :year ]
    
  .field
    = form.label :responses
    = form.text_field :responses
    %p.note
      %span How many people is desired to reply your survey?
  
  %h2 Questions
  - form.fields_for :questions do |question_forms|
    = render :partial => "/questions/form/question", :locals => { :form => question_forms }
  
      
  .submit
    = image_submit_tag "/images/create_survey_button.png"
    = link_to "Cancel", surveys_path, :class => "cancel_button"
