= render :partial => "/layouts/menu"
.main_content
  .tabs
    %ul
      %li{ :class => tab_selected?(["surveys_new", "surveys_create", "surveys_edit", "surveys_update"]) }= link_to "Customize", ""
      %li{ :class => tab_selected?(["surveys_show"]) }= link_to "Preview", ""
    .cls
  .form
    - form_for @survey, :url => surveys_path do |form|
      %h3.heads Create a Survey
      = form.error_messages
      .quick_select{ :style => "margin-top: -58px" }
        Quick Create - Copy
        %br
        = select_tag("quick_select", "<option>No Selection</option>", :class => "selected")
      .rounded
        .top
        .form_content1
          %h4 Survey Details
          = form.label :name
          = form.text_field :name
          = form.label :end_at
          = form.date_select :end_at, :order => [:month, :day, :year], :start_year => Time.now.year
          = form.label :responses
          = form.text_field :responses
        .bottom
      
      .rounded
        .top
        .form_content1
          %h4 Restrictions
        .bottom
      
      .rounded
        .top
        .form_content1
          %h4 Questions
        .bottom
      
      = form.submit "Create", :class => "button button_bl"
      
      = link_to_function "Save", :class => "button button_gr" do |page|
        - page << '$("#new_survey").attr("action", "/surveys/save");'
        - page << '$("#new_survey").submit();'

