= render :partial => "/layouts/menu"
.main_content
  = render :partial => "/surveys/preview_tabs"
  .form
    - form_for @survey, :url => surveys_path do |form|
      %h3.heads Create a Survey
      = form.error_messages
      .quick_select{ :style => "margin-top: -58px" }
        Quick Create - Copy
        %br
        = select_tag("quick_select", "<option>No Selection</option>", :class => "selected")
      .rounded
        .top
        .form_content1
          %h4 Survey Details
          = render :partial => "/surveys/form_details", :locals => { :form => form }
        .bottom
      
      .rounded
        .top
        .form_content1
          %h4 Restrictions
          = render :partial => "/surveys/form_restrictions", :locals => { :form => form }
        .bottom
      
      .rounded
        .top
        .form_content1
          %h4 Questions
          = render :partial => "/surveys/form_questions", :locals => { :form => form }
        .bottom
      
      = link_to_function "Activate", :class => "button button_bl" do |page|
        - page << '$("#new_survey").attr("action", "/surveys/activate");'
        - page << '$("#new_survey").submit();'
      
      = form.submit "Save", :class => "button button_gr"

= render :partial => 'pricing_details', :locals => { :package => @package}
