= render :partial => "/layouts/menu"
.main_content
  = render :partial => "/surveys/preview_tabs"
  .form
    - form_for @survey, :url => surveys_path do |form|
  
      = hidden_field_tag 'package', params[:package] || @package.code
      = form.hidden_field :package_id, :value => @package.id
  
      %h3.heads Create a Survey
      = form.error_messages
      .quick_select{ :style => "margin-top: -58px" }
        Quick Create - Copy
        %br
        = select_tag("quick_select", "<option>No Selection</option>", :class => "selected")

      = render :partial => "/surveys/form_general", :locals => { :form => form, :survey => @survey }
        
      .rounded
        .top
        .form_content1
          %h4 Questions
          = render :partial => "/surveys/form_questions", :locals => { :form => form, :survey => @survey }
        .bottom
      
      .rounded
        .top
        .form_content1
          %h4 Survey Distribution
          = render :partial => "/surveys/form_distribution", :locals => { :form => form, :survey => @survey }
        .bottom
      
      = form.submit "Save for Later", :class => "button button_la"
      
      = button_to_function "Purchase via Paypal", :class => "button button_la" do |page|
        - page << '$("#new_survey").attr("action", "/surveys/activate");'
        - page << '$("#new_survey").submit();'

= render :partial => 'pricing_details', :locals => { :package => @package}        
