= load_survey if defined?(@survey_id)
= render :partial => "/layouts/menu"
.m_content
  .form
    %p.complete_payment= flash[:notice]
    %h3.heads Monitor Progress
    .survey_type
      %h4{ :style=>"margin-left:40px;" } Survey Name
      %ul.survey
        = link_to_surveys(@surveys)
        
.cls

= sortable_table_js
