= render :partial => "/layouts/menu"
.m_content
  .form
    %h3.heads Monitor Survey Progress
    .survey_type
      %h4{ :style => "margin-left:40px" }
        = @survey.name
      %ul.survey
        %li 
          %a Pricing Survey
        %li.selected
          %a Color Preference Survey
          = image_tag @survey.graph
          .cls
          %table#table{ :cellpadding => 0, :cellspacing => 0, :class => "sortable one" }
            %thead
              %tr
                %th 
                  %h3 Question
                %th 
                  %h3 To Be Taken
                %th
                  %h3 Completed
            %tbody
              - @survey.questions.each do |question|
                %tr
                  %td{ :style => "text-align:left;" }= question.name
                  %td
                    = @survey.responses - question.answers.size
                    = "(#{percent_of((@survey.responses - question.answers.size), @survey.responses)}%)"
                  %td
                    = question.answers.size
                    = "(#{percent_of(question.answers.size, @survey.responses)}%)"
        
          %li
            %a Automobile Display Setup
        
            
.cls