%h4.heads2 Demographic Distribution
.demo_dis
  .show
    %b
      Show
    %br
    %br
    = select_tag "filter_by", options_for_select(['Select'] + demographic_type_options), :class => 'select_bg'
    = observe_demographic_field("filter_by")
  .segment_by
    %b
      Segment By:
    %br
    %br
    #select_segment
      = select_segment_by
      = observe_demographic_field("segment_by")
  .cls
  %br
  %br
  #demographic_distribution
    = render :partial => 'admin/dashboards/results/filter_by' if @results
        
%br