%h4.heads2 Survey Distribution
.demo_dis
  .show
    %b
      Show
    %br
    %br
    = survey_distribution_list
    = observe_field 'survey', :url => survey_distribution_dashboard_path, :with => "'survey_range=' + $('#survey_range option:selected').val() + '&survey=' + $('#survey option:selected').val()"
  .segment_by
    %b Segment By last:
    %br
    %br
    = survey_distribution_range
    = observe_field 'survey_range', :url => survey_distribution_dashboard_path, :with => "'survey_range=' + $('#survey_range option:selected').val() + '&survey=' + $('#survey option:selected').val()"
  .cls
  %br
  %br
  #survey_distribution
    = render :partial => 'admin/dashboards/survey_distribution/results' if @ranges
        
%br