.form
  %h3.heads 
    = "Reset Password for #{@user.type} #{@user.name}"
  .rounded
    .top
    .form_content
      - form_for :user, :url => reset_password_admin_user_path(@user), :html => { :method => :put } do |form|
        = form.error_messages
        %h4 Enter your new password information
        = form.label :password
        = form.password_field :password
        = form.label :password_confirmation
        = form.password_field :password_confirmation
        .center
          = form.submit "Change password", :class => "button button_la"
        .cls
    .bottom