!!!
%html
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %title Login
    = javascript_include_tag :defaults
    = stylesheet_link_tag "joemetric"
    /[if IE7]
      = stylesheet_link_tag "ie7"
  %body
    .main
      .wrapper
        = render :partial => "/layouts/header"
        .content
          .form
            %h3.heads Log In
            .rounded
              .top
              .form_content
                %h4 Please Enter Your Login and Password
                - form_for :user_session, :url => user_session_path, :id => "login_form" do |form|
                  = render_notice
                  = form.error_messages
                  = form.label :login
                  = form.text_field :login
                  = form.label :password
                  = form.password_field :password
                  %br
                  .remember
                    = check_box_tag :remember_me
                    Remember Me
                    = form.submit "LOGIN", :class => "button button_bl"
                  %span.sigin
                    or
                    = link_to "Sign Up!", new_user_path
                    %br
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    = link_to "Forgot Password", forgot_password_users_path
                  .cls
              %div{:class => 'bottom session_new_bottom'}
                  
        .footer
          